.book-index-lower-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
  align-content: flex-start;
}
.book-index-lower-div1 {
  margin-left: 100px;
}
.front-image {
  height: 100%;

}
.slick-list{
  margin: 50px;
  margin-bottom: 100px;
}
.slick-list img{
  height: 300px !important;
  width: 200px !important;
  margin-right: 10px !important;
}
.book-index-div1 {

}
.book-index-div {
  width: 70%;
  min-width: 600px;
  margin: 0px auto;
  justify-content: space-between;
}

.div-book img {
  height: 100%;
  box-shadow: 0px 11px 13px 0px #888888;
  max-height: 300px;
  max-width: 300px;

}

.div-book {
  margin: 1%;
  padding: 1%;
}
.index-main{
  //background-color: #272727;
}